.auth {
    min-height: calc(100vh - 120px);
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        font-family: var(--ff-main);
        font-size: var(--fs-midd);
        gap: 26px 97px;
        display: grid;
        // max-width: 342px;
        min-width: 340px;
        grid-template-columns: 2fr;
        justify-content: space-between;
        &__input {
            font-family: inherit;
            border: none;
            grid-column-start: span 2;
            padding: 13px 20px;
            background-color: var(--color-default);
            border-radius: 5px;
            line-height: 25px;
            color: var(--color-bold);
            font-size: var(--fs-midd);
            letter-spacing: 0.05rem;
            border: 3px solid transparent;
            &.invalid {
                border: 3px solid var(--color-accent);
            }
            &--password {
                margin-bottom: 20px;
            }
            &::placeholder {
                color: var(--color-primary);
                font-size: var(--fs-midd);
            }
        }
        &__link {
            color: var(--color-info);
            text-decoration: underline;
            cursor: pointer;
            max-width: 150px;
        }
        &:nth-child(1){
            // align-self: center;
            // background-color: red;
        }

        &__button {
            height: 49px;
            background-color: var(--color-secondary);
            color: var(--color-bold);
            border: none;
            padding: 0 37px;
            box-shadow: 0px 4px 4px rgba(62, 5, 4, 0.25);
            border-radius: 5px;
            font-family: var(--ff-main);
            text-transform: capitalize;
            cursor: pointer;
            transition: filter 0.1s ease;
            &:hover {
                filter: brightness(80%);
            }
            &:active {
                filter: brightness(65%);
            }
        }
        &__footer{
            grid-column: span 2;
            display: flex;
            justify-content: space-between;
        }
    }
.auth__spinner{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}    
}
